.feedImage{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Box shadow effect */
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.feedPosts:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7); /* Box shadow effect */
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.profileBtn:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); /* Box shadow effect */
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

