/* styles.css */

.container {
    display: flex;
    margin:0px;
    height: 100vh;
  }
  
  .sidebar {
    width: 280px; /* Adjust width as needed */
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .map-container {
    flex: 1;
  }
  
  .map {
    height: 100%;
    width: 1700px;
  }
  